

.body{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/krupandhiback.jpg");
  background-position: 100%;
  background-size: cover;
  background-position-y: center;
  
}

 .body{
  min-height: 363px;
}

  .circular--square{
    border-radius: 100%;
    size: 100%;
    width: 150px;
    height: 150px;
    padding-left: -200px;
    margin-left: -180px;
    margin-bottom: -180px;
    /* align-items: center; */
  
  }
  .a{
    margin: 10%;
    
  }
  .ss{
    margin: -70%;
  
  }
  .s{
    margin: -140%;
  }




.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 319px;
  height: auto;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 19px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-5 {
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-block-5862-21 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 564px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-table-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-block-41b5-7 {
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -380px auto 0 911px;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  margin-left: 3px;
  vertical-align: 0px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 70px 110px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  margin-left: 3px;
  vertical-align: 0px;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 49px 110px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  margin-left: 3px;
  vertical-align: 0px;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 43px 101px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  margin-left: 3px;
  vertical-align: 0px;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 56px 110px 56px auto;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  margin-left: 3px;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -448px;
    margin-right: 82px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 61px;
    margin-right: 82px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 82px;
    margin-right: 82px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 70px;
    margin-right: 82px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -50px;
    margin-right: 27px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -545px;
    margin-right: 35px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 136px;
    margin-right: 27px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 98px;
    margin-right: 27px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 98px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1448px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 84px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
    margin-left: 311px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -255px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin: 36px auto 58px 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1655px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 111px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 461px;
}

.u-section-3 .u-text-1 {
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 32px auto 0 0;
}

.u-section-3 .u-table-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-block-740f-7 {
  background-image: none;
}

.u-section-3 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
}.u-section-4 .u-sheet-1 {
  min-height: 367px;
}

.u-section-4 .u-text-1 {
  margin: 9px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-4 .u-table-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-block-8c36-7 {
  background-image: none;
}

.u-section-4 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-1 {
  background-image: none;
}

.u-section-4 .u-table-cell-2 {
  background-image: none;
}

.u-section-4 .u-table-cell-3 {
  background-image: none;
}

.u-section-4 .u-table-cell-4 {
  background-image: none;
}.u-section-5 .u-sheet-1 {
  min-height: 213px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  margin: 10px auto 0 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 60px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 588px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 34px;
}