

.body{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/svk/eduweb-master/images/BILS-Building2.jpeg");
  background-position: 50% 50%;
  filter: brightness(90%);
  
}

 .body{
  min-height: 363px;
}
.circular--square{
  border-radius: 100%;
  size: 100%;
  width: 160px;
  height: 150px;
  padding-left: -200px;
  margin-left: -180px;
  margin-bottom: -180px;
  /* align-items: center; */

}
.u-section-1 .u-sheet-1 {
  min-height: 1166px;
}
.d{
  font-size: 2.5em;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-group-1 {
  min-height: 346px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-block-75ee-19 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-text-1 {
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-2 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-5c0a-6 {
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    margin-top: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    margin-top: 8px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 687px;
}

.u-section-3 .u-text-1 {
  margin: 14px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 14px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-8 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-10 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}.u-section-4 .u-sheet-1 {
  min-height: 604px;
}

.u-section-4 .u-text-1 {
  margin: 16px auto 0 0;
}

.u-section-4 .u-table-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-block-4d72-5 {
  background-image: none;
}

.u-section-4 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -454px 92px 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 36px 92px 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 36px 92px 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 47px 92px 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 36px 92px 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 36px 92px 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-7 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 36px 92px 40px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -483px;
    margin-right: 64px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 47px;
    margin-right: 64px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 64px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 40px;
    margin-right: 64px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 47px;
    margin-right: 64px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 46px;
    margin-right: 64px;
  }

  .u-section-4 .u-btn-7 {
    margin-top: 34px;
    margin-right: 64px;
    margin-bottom: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -572px;
    margin-right: 36px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 68px;
    margin-right: 36px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 54px;
    margin-right: 36px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 46px;
    margin-right: 36px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 54px;
    margin-right: 36px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 68px;
    margin-right: 36px;
  }

  .u-section-4 .u-btn-7 {
    margin-top: 46px;
    margin-right: 36px;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -677px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 76px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 66px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 93px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 69px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-7 {
    margin-top: 55px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1045px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 16px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px auto 16px 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 736px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-block-6d56-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-6 .u-table-body-1 {
  font-size: 1.125rem;
}

.u-section-6 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 21px 0 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-3 {
    margin-top: 76px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-3 {
    margin-top: 101px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 30px;
    margin-bottom: 54px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 652px;
}

.u-section-7 .u-text-1 {
  margin: 10px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 19px 0;
} .u-section-8 {
  min-height: 66px;
}

.u-section-8 .u-sheet-1 {
  min-height: 866px;
}

.u-section-8 .u-text-1 {
  margin: 19px auto 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-8 .u-image-1 {
  min-height: 655px;
  background-image: url("images/NLSIUBangaloreHostel.jfif");
  background-position: 34.21% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 655px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0 30px 51px;
}

.u-section-8 .u-text-2 {
  margin: 19px 0 0 17px;
}

.u-section-8 .u-text-3 {
  margin-left: 17px;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 318px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -96px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 138px;
  }

  .u-section-8 .u-image-1 {
    min-height: 540px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 66px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -222px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 264px;
  }

  .u-section-8 .u-image-1 {
    min-height: 414px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 373px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -232px;
    margin-bottom: -141px;
  }

  .u-section-8 .u-image-1 {
    min-height: 621px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 66px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-8 .u-image-1 {
    min-height: 391px;
  }
}