 .u-section-1 {
  background-image: url("images/germanyback.jpg");
  background-position: 50% 55.43%;
}

.u-section-1 .u-sheet-1 {
  min-height: 275px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 63px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  background-image: linear-gradient(#db545a, #a35559);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 34px auto 0 324px;
  padding: 6px 20px 7px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  background-image: linear-gradient(#db545a, #a35559);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: -56px auto 60px 581px;
  padding: 6px 20px 7px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 268px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 181px;
    margin-left: 381px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 147px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 72px;
    margin-left: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 22px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 2px;
    margin-right: 36px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 6px;
    margin-right: 36px;
    margin-bottom: 18px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 416px;
  height: auto;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-5 {
  margin: 7px 242px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: 13px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 23px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 76px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 46px;
  }

  .u-section-2 .u-text-8 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-6 {
    margin-top: 101px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-bottom: -11px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 816px;
}

.u-section-3 .u-text-1 {
  margin: 7px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 18px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 17px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 17px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 17px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 14px 0 7px;
}.u-section-4 .u-sheet-1 {
  min-height: 795px;
}

.u-section-4 .u-text-1 {
  margin: 15px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 15px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 9px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 26px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 9px 0 0;
}

.u-section-4 .u-text-6 {
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-7 {
  margin: 9px 0 0;
}

.u-section-4 .u-text-8 {
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-9 {
  margin: 9px 0 0;
}

.u-section-4 .u-text-10 {
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-11 {
  margin: 9px 0 0;
}.u-section-5 .u-sheet-1 {
  min-height: 422px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 11px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 11px 0 0;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 680px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-table-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-block-2f6a-7 {
  background-image: none;
}

.u-section-6 .u-table-body-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-7 .u-table-1 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-block-6c9d-7 {
  background-image: none;
}

.u-section-7 .u-table-body-1 {
  font-size: 1.5rem;
}

.u-section-7 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 34px auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 14px auto 0 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-text-6 {
    margin-bottom: 60px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 352px;
}

.u-section-8 .u-text-1 {
  margin: 1px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 1px 0;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 542px;
}

.u-section-9 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 10px 0 0;
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-9 .u-text-2 {
    margin-bottom: 60px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1230px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 0;
}

.u-section-10 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-10 .u-text-3 {
  margin: 11px 0 0;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  margin: 32px auto 0 0;
}

.u-section-10 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-text-6 {
  margin: 20px 0 60px;
}.u-section-11 .u-sheet-1 {
  min-height: 400px;
}