
 
 .u-section-1 {
  background-image: url("images/candaback.jpg");
  background-position: 50% 29.4%;
  
}

.u-section-1 .u-sheet-1 {
  min-height: 415px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 48px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  background-image: linear-gradient(#db545a, #a35559);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 17px auto 0 327px;
  padding: 6px 20px 7px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  background-image: linear-gradient(#db545a, #a35559);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: -56px 320px 60px auto;
  padding: 6px 20px 7px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 268px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 147px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 2px;
    margin-right: 36px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 6px;
    margin-right: 36px;
    margin-bottom: 18px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1382px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 5px 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 471px;
  height: auto;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 15px 6px;
}

.u-section-2 .u-text-4 {
  margin: 0 10px;
}

.u-section-2 .u-text-5 {
  margin: 2px 0 0 10px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 645px;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-3 .u-table-1 {
  margin-top: 11px;
  margin-bottom: 9px;
}

.u-block-470d-7 {
  background-image: none;
}

.u-section-3 .u-table-body-1 {
  font-size: 1.25rem;
}.u-section-4 .u-sheet-1 {
  min-height: 1332px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 6px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  margin: 13px auto 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px auto 6px 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1008px;
}

.u-section-5 .u-text-1 {
  margin: -8px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 28px 158px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 35px 252px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 8px 0 0;
}

.u-section-5 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 274px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -50px;
  }

  .u-section-5 .u-text-4 {
    width: 365px;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: -32px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 7px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-5 {
    margin-top: 555px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -614px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-5 {
    margin-top: 545px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -630px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-4 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 625px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -915px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-6 .u-table-1 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-block-dda7-6 {
  background-image: none;
}

.u-section-6 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-6 .u-table-cell-1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-6 .u-table-cell-2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-6 .u-table-cell-3 {
  font-weight: 700;
  font-size: 1.5rem;
}.u-section-7 .u-sheet-1 {
  min-height: 848px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 9px;
  margin-left: 0;
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-table-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-block-07b4-7 {
  background-image: none;
}

.u-section-7 .u-text-3 {
  margin: 18px auto 0 0;
}

.u-section-7 .u-table-2 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-block-07b4-36 {
  background-image: none;
}

.u-section-7 .u-table-cell-9 {
  text-transform: uppercase;
  background-image: none;
}

.u-section-7 .u-table-cell-10 {
  text-transform: uppercase;
  background-image: none;
}

.u-section-7 .u-table-cell-11 {
  text-transform: uppercase;
  background-image: none;
}

.u-section-7 .u-table-cell-12 {
  text-transform: uppercase;
  background-image: none;
}

.u-section-7 .u-text-4 {
  margin: 14px 0 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 1rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 644px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 19px 0;
}.u-section-9 .u-sheet-1 {
  min-height: 1062px;
}

.u-section-9 .u-text-1 {
  margin: 13px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}.u-section-10 .u-sheet-1 {
  min-height: 833px;
}

.u-section-10 .u-text-1 {
  margin: 9px auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-10 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-10 .u-text-5 {
  margin: 10px auto 0 10px;
}

.u-section-10 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-text-7 {
  margin: 20px 0 9px;
}.u-section-11 .u-sheet-1 {
  min-height: 793px;
}

.u-section-11 .u-text-1 {
  margin: 10px auto 0 0;
}

.u-section-11 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-11 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-11 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-11 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-11 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-11 .u-text-8 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-11 .u-text-9 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 13px;
}